* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.main-contact {
    margin: 6% 8%;
    text-align: justify;
}

.contact {
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}

.error-btn {
    text-decoration: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.error-btn,
.snd-btn:hover {
    cursor: pointer;
}

.fa-phone,
.fa-envelope {
    color: aliceblue;
    background-color: rgba(219, 68, 68, 1);
    border-radius: 50px;
    padding: 6px;
}

.call-p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    padding-left: 6px;
    color: rgba(0, 0, 0, 1);
}

.in-time {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.phone-in {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.contact-us {
    border-bottom: 1px solid;
    width: 270px;
    color: darkgrey;
}

.write-msg {
    margin-top: 20px;
}

.input-write {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    border: none;
    outline: none;
}

.input-msg {
    margin-top: 20px;
}

.snd-btn {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(219, 68, 68, 1);
    border: none;
    border-radius: 4px;
    padding: 16px 48px 16px 48px;
    margin: 20px;
    position: relative;
    top: 100px;
}


@media screen and (max-width:1032px) {
    .contact {
        display: block;
        justify-content: space-around;
        margin: 5% 0;
    }

    .snd-btn {
        position: relative;
        top: 50px;
    }
}

@media screen and (max-width:569px) {
    .input-write {
        margin: 20px;
    }
}

@media screen and (max-width:552px) { 

    .snd-btn {
        position: relative;
        top: 18px;
    }

}



.header-top {
    background-color: rgba(0, 0, 0, 1);
}

.header-para {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: rgba(250, 250, 250, 1);
    padding: 10px;
}

.home-items {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
}

.shop-btn {
    color: rgba(250, 250, 250, 1);
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
}

.fa-angle-down,.eng-btn {
    cursor: pointer;
}

.eng-btn {
    position: relative;
    left: 15%;
}

.header-lower-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.5px solid lightgrey;
    padding: 20px;
}

.para-excl {
    font-size: 24px;
    font-weight: 700;
    font-family: Inter;
    color: rgba(0, 0, 0, 1);
}

.menu-sec-hd {
    display: flex;
    column-gap: 40px;
}

.home-items:hover {
    border-bottom: 1px solid #ccc;
}

.menu-items {
    list-style-type: none;
}

.header-icons {
    display: flex;
    column-gap: 20px;
}

.looking-search {
    border: none;
    outline: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    width: 153px;
    padding-right: 10px;
}

.cross-icon {
    padding: 25px 8px 25px 2px;
    text-align: end;
    cursor: pointer;
}

.fa-list {
    cursor: pointer;
}

.fa-user {
    padding: 0 10px;
}

.icons-md {
    cursor: pointer;
}

.mobile-menu {
    margin: 20px;
    padding: 4px;
}

.mobile-menu .menu-items {
    text-align: start;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.input-mb-search {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
}

@media screen and (max-width:860px){

    .header-top {
        display: none;
    }

    .menu-sec-hd {
        display: none;
    }

    .icons-md {
        display: none;
    }

    .header-lower-section {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        margin: 10px;
        margin: 0 10px;
    }

    .input-sec-hd {
        display: none;
    }

    .input-sec-mb {
        display: flex;
        justify-content: space-between;
    }

    .mobile-menu {
        margin: 6px;
        padding: 2px;
    }

    .cross-icon {
        padding: 6px;
    }

    .mobile-menu-sec {
        margin: 0 6px;
    }
}

@media screen and (min-width:860px){

    .media-list {
        display: none;
    }

    .input-sec-mb {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .cross-icon {
        display: none;
    }
}


.footer {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    text-align: start;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(250, 250, 250, 1);
    padding: 50px 0;
}

.footer-sec {
    width: 16%;
    line-height: 28px;
}

.fa-angle-down {
    cursor: pointer;
}

.exclusive-head {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
}

.para-ft {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
}

.para-ft-all {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.input-ft-sh {
    background-color: rgba(0, 0, 0, 1);
    padding: 12px 0px 12px 16px;
    border-radius: 4px;
    color: rgba(250, 250, 250, 1);
    border: 1.5px solid rgba(250, 250, 250, 1);
    outline: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.support-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
}

.para-ft-save {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.app {
    display: flex;
    column-gap: 10px;
}

.appStore {
    cursor: pointer;
}

.small-icons {
    margin: 4%;
}

.Copyright-last {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    padding: 10px;
    cursor: pointer;
}

.menu-items-ft,
.menu-items-ft-ql {
    list-style-type: none;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.menu-items-ft,
.menu-items-ft-ql,
.small-icons:hover {
    cursor: pointer;
}

.items-ft,
.items-ql {
    text-decoration: none;
    color: rgba(250, 250, 250, 1);
}


@media screen and (max-width:1209px) {

    .footer {
        flex-wrap: wrap;
        gap: 6%;
        padding: 50px 0;
        justify-content: flex-start;
    }

    .footer-sec {
        width: 18%;
        line-height: 28px;
        margin: 1%;
    }
}

@media screen and (max-width:966px) {
    .footer {
        flex-wrap: wrap;
        gap: 8%;
        padding: 25px 0;
    }

    .footer-sec {
        width: 25%;
        margin: 1%;
    }
}

@media screen and (max-width:872px) {
    .footer {
        flex-wrap: wrap;
        padding: 25px 0;
    }

    .footer-sec {
        width: 41%;
        margin: 2%;
    }
}

@media screen and (max-width:600px) {
    .footer {
        flex-wrap: wrap;
        padding: 25px 0;
    }

    .footer-sec {
        width: 100%;
        margin: 2%;
    }

    .small-icons {
        margin: 2%;
    }

    .menu-footer-excl,
    .menu-footer-spt,
    .menu-sec-footer-at,
    .menu-sec-footer-ql,
    .menu-footer-store {
        display: block;
        transition: 20s;
        opacity: 2;
        height: 0;
        overflow: hidden;
    }

    .mobile-menu-dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .active:hover .menu-footer-excl {
        height: auto;
        opacity: 1;
    }

    .active:hover .menu-footer-spt {
        height: auto;
        opacity: 1;
    }

    .active:hover .menu-sec-footer-at {
        height: auto;
        opacity: 1;
    }

    .active:hover .menu-sec-footer-ql{
        height: auto;
        opacity: 1;
    }

    .active:hover .menu-footer-store{
        height: auto;
        opacity: 1;
    }
}

@media screen and (min-width:600px) {

    .fa-angle-down {
        display: none;
    }

    .footer-sec>.mobile-menu-dropdown>.dropdown-icon {
        display: none;
    }
}