* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.main-contact {
    margin: 6% 8%;
    text-align: justify;
}

.contact {
    display: flex;
    justify-content: space-around;
    margin: 5% 0;
}

.error-btn {
    text-decoration: none;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.error-btn,
.snd-btn:hover {
    cursor: pointer;
}

.fa-phone,
.fa-envelope {
    color: aliceblue;
    background-color: rgba(219, 68, 68, 1);
    border-radius: 50px;
    padding: 6px;
}

.call-p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    padding-left: 6px;
    color: rgba(0, 0, 0, 1);
}

.in-time {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.phone-in {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.contact-us {
    border-bottom: 1px solid;
    width: 270px;
    color: darkgrey;
}

.write-msg {
    margin-top: 20px;
}

.input-write {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    border: none;
    outline: none;
}

.input-msg {
    margin-top: 20px;
}

.snd-btn {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(219, 68, 68, 1);
    border: none;
    border-radius: 4px;
    padding: 16px 48px 16px 48px;
    margin: 20px;
    position: relative;
    top: 100px;
}


@media screen and (max-width:1032px) {
    .contact {
        display: block;
        justify-content: space-around;
        margin: 5% 0;
    }

    .snd-btn {
        position: relative;
        top: 50px;
    }
}

@media screen and (max-width:569px) {
    .input-write {
        margin: 20px;
    }
}

@media screen and (max-width:552px) { 

    .snd-btn {
        position: relative;
        top: 18px;
    }

}